
:root {
text-align: center;
}

.elem {
transition: transform 700ms cubic-bezier(0.2, 1, 0.3, 1);
}

.elem rect {
fill: #3f3b6c;
stroke: #3f3b6c;
stroke-width: 1;
}

.elem text {
font-size: 0.8rem;
text-anchor: middle;
}

.swapped rect {
fill: #57eb13;
stroke: #57eb13;
stroke-width: 1;
}

.sorted rect {
fill: #ffa65c;
stroke: #ffa65c;
stroke-width: 1;
}

.compare rect {
fill: #ff0000 !important;
stroke: #ff0000 !important;
stroke-width: 1;
}

.merge-left rect {
fill: #ea00ff;
stroke: #ea00ff;
stroke-width: 1;
}

.merge-right rect {
fill: #041dff;
stroke: #041dff;
stroke-width: 1;
}

.merge-added rect {
fill: #57eb13;
stroke: #57eb13;
stroke-width: 1;
}

.merge-back rect {
fill: #00ffea !important;
stroke: #00ffea !important;
stroke-width: 1;
}

.current rect {
stroke: rgb(255, 0, 212);
stroke-width: 3;
}

.visualiser {
width: 82vw;
}

.flex-col-space {
display: flex; 
flex-direction: column; 
justify-content: space-between;
}


@media screen and (orientation: portrait) {
  :root{
  font-size: 1.8vw;
  }

  .visualiser {
  width: 100vw;
  }

  .sortingCard {
  min-height: 100%;
  }

  .svg-group-text{
  display: none;
  }

}

/* Mobile */
@media screen and (orientation: portrait) and (max-aspect-ratio: 0.7)  {
  :root{
  font-size: 2vw;
  }
}


@media screen and (orientation: landscape) {
  :root{
    font-size: 1.7vh;
  }
}


/* Widescreen */
@media screen and (orientation: landscape) and (min-aspect-ratio: 1.5) {
  :root{
    font-size: 1.7vh;
  }
}